<li class="light-blue">
	<a data-toggle="dropdown" href="#" class="dropdown-toggle">
		<span class="user-info">
		<small>TEDESCHI EVAN</small>
			{{user_email}}evan@evan.it
		</span>
		<i class="icon-caret-down"></i>
	</a>
	<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
		<li><a href="/auth/?change_password"><i class="icon-cog"></i> Cambia Password</a></li>
		<li><a href="/home/?profile"><i class="icon-user"></i> Profilo</a></li>
		<li class="divider"></li>
		<li><a href="/auth/logout"><i class="icon-off"></i> Esci</a></li>
	</ul>
</li>